.library {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vh;

    .libraryCard {
        border: 1px solid $color-black-basic;
        width: 30vh;
        aspect-ratio: 6/4;
        overflow: hidden;
        border-radius: 2vh;
        position: relative;

        >img {
            width: 100%;
        }

        .cardFooter {
            z-index: 1;
            background-color: $color-white-basic;
            width: 100%;
            padding: 1vh;
            position: absolute;
            bottom: 0;
            left: 0;

            >h2,
            >p {
                margin: 0;
                width: 75%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            >.iconLink {
                position: absolute;
                top: 50%;
                right: 5%;
                transform: translate(0, -50%);
                height: 70%;
            }
        }
    }
}