.libraryView {
    width: 100%;
    min-height: 100svh;
    position: relative;

    .libraryContainer {
        padding: 2vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2vh;
    }

    .footerSandbox {
        position: absolute;
        bottom: 0;
    }
}